<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{#    把表单以post方式提交index函数处理#}
    <form action="login/" method="post">
        <input type="text" name="user"/>
        <input type="text" name="email">
        <input type="submit" value="提交">
    </form>
{#将提交到login函数的表单内容在这里展示#}
    <h1>数据展示</h1>
    <table border="1">
        {% for item in data %}
            <tr>
                <td>{{ item.user  }}</td>
                <td>{{ item.email }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>